@font-face {
font-family: "Roboto";
src: url("Roboto/Roboto-Regular.ttf");
}

body {
    margin: 0px;
}

.result {
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    border-radius: 6px;
}

#error-message {
    color: red;
    display: none;
    border: 1px solid red;
    background-color: #ffe6e6;
}

#predictions {
    background-color: white;
}

#predictions-list {
    margin: 0px;
    padding-inline-start: 30px;  /* default is 40px */
}

#keyboard-and-result {
    border: 6px solid #E8EAED;
    width: 100%;
    max-width: 700px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 6px;
}

#result-container {
    background-color: #E8EAED;
    padding: 4px;
    height: 118px;
    margin: auto;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}


#keyboard {
    position: relative;
    background-color: #E8EAED;
}

.key-hitbox {
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
}

/*keyboard-key is positioned on top of key-hitbox and takes all space inside of it (except for margin)*/
.keyboard-key {
    position: absolute;
    top: 6px;
    left: 3px;
    right: 3px;
    bottom: 6px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 2px 2px #a3a3a3;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

.secondary-pred {
    opacity: 50%;
}