<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Keyboard Swipe Logger</title>
<style>
    #predictions {
        width: 100%;
        max-width: 700px;
        border: 1px solid black;
        margin: auto;
    }
    #keyboard {
        position: relative;
        height: 16px;
        width: 100%;
        max-width: 700px;
        border: 1px solid black;
        margin: auto;
    }
    .key-hitbox {
        position: absolute;
        border: 1px solid black;
        background-color: lightgray;
        text-align: center;
        cursor: pointer;
    }
</style>
</head>
<body>

<div id = "predictions">
<ol id = "predictions-list">
    <li id = "pred-0"></li>
    <li id = "pred-1"></li>
    <li id = "pred-2"></li>
    <li id = "pred-3"></li>
</ol>
</div>

<div id="keyboard"></div>

<script src="{{ url_for('static', filename='main.js') }}" type="module"> </script>
<!-- <script type = "module", src="main.js"></script> -->

</body>
</html>
