<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
<title>Neuroswipe web</title>
</head>
<body>


<div id="keyboard-and-result">
    <div id = "result-container">
        <div id="error-message" class="result"></div>
        <div id="predictions" class="result">
            <ol id = "predictions-list">
                <li id = "pred-0"></li>
                <li id = "pred-1" class = "secondary-pred"></li>
                <li id = "pred-2" class = "secondary-pred"></li>
                <li id = "pred-3" class = "secondary-pred"></li>
            </ol>
        </div>
    </div>
    <div id="keyboard"></div>
</div>

<script>
    let mouseeeConfig = {
        color: "#1A73E8",
        trailColor: "#1A73E8",
        clickAnimation: false,
        showTrailAlways: false,
      };
</script>

<script
  src="{{ url_for('static', filename='cursor_with_trail.js') }}"
  type="module"
></script>

<script src="{{ url_for('static', filename='main.js') }}" type="module"> </script>
<!-- <script type = "module", src="main.js"></script> -->

</body>
</html>
